kyos.logicapp/entraid.governance/SendPasswordSMS/SendPasswordSMS.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_SendPasswordToSMS_name": {
            "defaultValue": "SendPasswordToSMS",
            "type": "String"
        },
        "connections_azureautomation_1_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_azurecommunicationservicessms_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_acsemail_1_externalid": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_SendPasswordToSMS_name')]",
            "location": "switzerlandnorth",
            "tags": {
                "WorkloadName": "IAM",
                "ApplicationName": "Tools",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "UserPrincipalName": {
                            "defaultValue": "triggerBody()?['userPrincipalName']",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        },
                                        "mobile": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_job": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/subscriptions/@{encodeURIComponent('41271998-9818-49dd-8b6a-2ca5ec3a7c50')}/resourceGroups/@{encodeURIComponent('rg-entra-provisioning-poc_gbo_eu')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('azure-automation-account')}/jobs",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "Generate-password",
                                    "wait": false
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_job_output": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions/@{encodeURIComponent('41271998-9818-49dd-8b6a-2ca5ec3a7c50')}/resourceGroups/@{encodeURIComponent('rg-entra-provisioning-poc_gbo_eu')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('azure-automation-account')}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Send_SMS": {
                            "runAfter": {
                                "Set_account_option": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "from": "+41788867898",
                                    "smsRecipients": [
                                        {
                                            "to": "@triggerBody()?['mobile']"
                                        }
                                    ],
                                    "message": "Bonjour, bienvenue chez PG, votre mot de passe pour vous connecter à votre session est : @{body('Get_job_output')} Merci de le changer à la première connexion.",
                                    "smsSendOptions": {
                                        "enableDeliveryReport": true
                                    }
                                },
                                "path": "/v2/sms"
                            }
                        },
                        "Success_email": {
                            "runAfter": {
                                "Send_SMS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['acsemail']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "senderAddress": "it@kyos.ch",
                                    "recipients": {
                                        "to": [
                                            {
                                                "address": "it@pg.ch"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "subject": "Confirmation de réinitialisation de mot de passe",
                                        "html": "<p class=\"editor-paragraph\">Bonjour,</p><br><p class=\"editor-paragraph\">Le mot de passe de l'utilisateur a bien été réinitialisé.</p><br><p class=\"editor-paragraph\">Merci,</p><p class=\"editor-paragraph\">Azure</p>"
                                    },
                                    "importance": "Normal"
                                },
                                "path": "/emails:sendGAVersion",
                                "queries": {
                                    "api-version": "2023-03-31"
                                }
                            }
                        },
                        "Failed_email": {
                            "runAfter": {
                                "Send_SMS": [
                                    "Failed"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['acsemail']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "senderAddress": "it@kyos.ch",
                                    "recipients": {
                                        "to": [
                                            {
                                                "address": "it@pg.ch"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "subject": "Echec réinitialisation de mot de passe",
                                        "html": "<p class=\"editor-paragraph\">Bonjour,</p><br><p class=\"editor-paragraph\">Le mot de passe de l'utilisateur @{triggerBody()?['userPrincipalName']} n'a pas pu lui être transmis par SMS. Merci de procéder à la réinitialisation manuelle puis à la communication de celui-ci.</p><br><p class=\"editor-paragraph\">Merci,</p><p class=\"editor-paragraph\">Azure</p>"
                                    },
                                    "importance": "Normal"
                                },
                                "path": "/emails:sendGAVersion",
                                "queries": {
                                    "api-version": "2023-03-31"
                                }
                            }
                        },
                        "Set_account_option": {
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "properties": {
                                        "parameters": {
                                            "UserPrincipalName": "@triggerBody()?['userPrincipalName']"
                                        }
                                    }
                                },
                                "path": "/subscriptions/@{encodeURIComponent('41271998-9818-49dd-8b6a-2ca5ec3a7c50')}/resourceGroups/@{encodeURIComponent('rg-entra-provisioning-poc_gbo_eu')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('onprem-powershell-execution')}/jobs",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "ChangeAccountOption",
                                    "wait": false
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Success_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "Response_1": {
                            "runAfter": {
                                "Failed_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 500
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureautomation": {
                                "id": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/providers/Microsoft.Web/locations/switzerlandwest/managedApis/azureautomation",
                                "connectionId": "[parameters('connections_azureautomation_1_externalid')]",
                                "connectionName": "azureautomation-1"
                            },
                            "azurecommunicationservicessms": {
                                "id": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/providers/Microsoft.Web/locations/switzerlandwest/managedApis/azurecommunicationservicessms",
                                "connectionId": "[parameters('connections_azurecommunicationservicessms_externalid')]",
                                "connectionName": "azurecommunicationservicessms"
                            },
                            "acsemail": {
                                "id": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/providers/Microsoft.Web/locations/switzerlandwest/managedApis/acsemail",
                                "connectionId": "[parameters('connections_acsemail_1_externalid')]",
                                "connectionName": "acsemail-1"
                            }
                        }
                    }
                }
            }
        }
    ]
}