kyos.logicapp/adminunit.assignment/AssignResourcesToAU/AssignResourcesToAU.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "authTenant": {
      "type": "string",
      "defaultValue": ""
    },
    "authClientId": {
      "type": "securestring",
      "defaultValue": ""
    },
    "authClientSecret": {
      "type": "securestring",
      "defaultValue": ""
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "interval": 3,
                "frequency": "Hour"
              }
            }
          },
          "actions": {
            "HTTP_Users": {
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/users?$select=id,userPrincipalName,displayName",
                "method": "GET",
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "[parameters('authTenant')]",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "[parameters('authClientId')]",
                  "secret": "[parameters('authClientSecret')]"
                }
              },
              "runAfter": {
                "Initialize_UsersRulesMapping": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Users": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Users')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "userPrincipalName": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "userPrincipalName",
                          "displayName"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP_Users": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON_Users')?['value']",
              "actions": {
                "HTTP_Check_AdminUnit_MemberOf": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{item()?['id']}/memberOf/microsoft.graph.administrativeUnit?$select=id.displayName",
                    "method": "GET",
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "[parameters('authTenant')]",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "[parameters('authClientId')]",
                      "secret": "[parameters('authClientSecret')]"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Parse_JSON_AdminUnit_MemberOf": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_Check_AdminUnit_MemberOf')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "@@odata.context": {
                          "type": "string"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_Check_AdminUnit_MemberOf": [
                      "Succeeded"
                    ]
                  }
                },
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('HTTP_Check_AdminUnit_MemberOf')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Condition_2": {
                      "type": "If",
                      "expression": {
                        "or": [
                          {
                            "startsWith": [
                              "@item()?['displayName']",
                              "@variables('UsersRulesMapping')[0]['Prefix']"
                            ]
                          },
                          {
                            "endsWith": [
                              "@item()?['userPrincipalName']",
                              "@variables('UsersRulesMapping')[0]['Pattern']"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "HTTP_Post_User_to_Admin_Unit": {
                          "type": "Http",
                          "inputs": {
                            "uri": "https://graph.microsoft.com/beta/administrativeUnits/@{variables('UsersRulesMapping')[0]['adminUnitId']}/members/$ref",
                            "method": "POST",
                            "body": {
                              "@@odata.id": "https://graph.microsoft.com/v1.0/users/@{item()?['id']}"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "[parameters('authTenant')]",
                              "audience": "https://graph.microsoft.com",
                              "clientId": "[parameters('authClientId')]",
                              "secret": "[parameters('authClientSecret')]"
                            }
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Parse_JSON_AdminUnit_MemberOf": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Users": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_UsersRulesMapping": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UsersRulesMapping",
                    "type": "array",
                    "value": [
                      {
                        "Prefix": "FR-",
                        "Pattern": ".hefr.ch",
                        "adminUnitId": "d2c4c6a4-fddd-4658-9812-967d01b548af"
                      }
                    ]
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_Prefix": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "PrefixRule",
                    "type": "array",
                    "value": [
                      {
                        "Prefix": "FR-",
                        "adminUnitId": "d2c4c6a4-fddd-4658-9812-967d01b548af"
                      }
                    ]
                  }
                ]
              },
              "runAfter": {}
            },
            "HTTP_Groups": {
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/groups?$filter=startswith(displayName,'@{variables('PrefixRule')[0]['Prefix']}')&$select=id,displayName",
                "method": "GET",
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "[parameters('authTenant')]",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "[parameters('authClientId')]",
                  "secret": "[parameters('authClientSecret')]"
                }
              },
              "runAfter": {
                "Initialize_Prefix": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Groups": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Groups')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "displayName"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP_Groups": [
                  "SUCCEEDED"
                ]
              }
            },
            "For_each_Groups": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON_Groups')?['value']",
              "actions": {
                "HTTP_Check_Groups_Admin_Unit_MemberOf": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{item()?['id']}/memberOf/microsoft.graph.administrativeUnit?$select=id.displayName",
                    "method": "GET",
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "[parameters('authTenant')]",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "[parameters('authClientId')]",
                      "secret": "[parameters('authClientSecret')]"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Parse_JSON_Groups_AdminUnit_MemberOf": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_Check_Groups_Admin_Unit_MemberOf')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "@@odata.context": {
                          "type": "string"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_Check_Groups_Admin_Unit_MemberOf": [
                      "SUCCEEDED"
                    ]
                  }
                },
                "Condition_Groups": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('Parse_JSON_Groups_AdminUnit_MemberOf')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Condition_Groups_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "startsWith": [
                              "@item()?['displayName']",
                              "@variables('PrefixRule')[0]['Prefix']"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "HTTP_Post_Group_to_Admin_Unit": {
                          "type": "Http",
                          "inputs": {
                            "uri": "https://graph.microsoft.com/beta/administrativeUnits/@{variables('PrefixRule')[0]['adminUnitId']}/members/$ref",
                            "method": "POST",
                            "body": {
                              "@@odata.id": "https://graph.microsoft.com/v1.0/groups/@{item()?['id']}"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "[parameters('authTenant')]",
                              "audience": "https://graph.microsoft.com",
                              "clientId": "[parameters('authClientId')]",
                              "secret": "[parameters('authClientSecret')]"
                            }
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Parse_JSON_Groups_AdminUnit_MemberOf": [
                      "SUCCEEDED"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Groups": [
                  "SUCCEEDED"
                ]
              }
            },
            "HTTP_Devices": {
              "type": "Http",
              "inputs": {
                "uri": "https://graph.microsoft.com/v1.0/groups?$filter=startswith(displayName,'@{variables('PrefixRule')[0]['Prefix']}')&$select=id,displayName",
                "method": "GET",
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "[parameters('authTenant')]",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "[parameters('authClientId')]",
                  "secret": "[parameters('authClientSecret')]"
                }
              },
              "runAfter": {
                "Initialize_Prefix": [
                  "SUCCEEDED"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Devices": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Devices')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "displayName"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP_Devices": [
                  "SUCCEEDED"
                ]
              }
            },
            "For_each_Devices": {
              "type": "Foreach",
              "foreach": "@body('Parse_JSON_Devices')?['value']",
              "actions": {
                "HTTP_Check_Devices_Admin_Unit_MemberOf": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/devices@{item()?['id']}/memberOf/microsoft.graph.administrativeUnit?$select=id.displayName",
                    "method": "GET",
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "[parameters('authTenant')]",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "[parameters('authClientId')]",
                      "secret": "[parameters('authClientSecret')]"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Parse_JSON_Devices_AdminUnit_MemberOf": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_Check_Devices_Admin_Unit_MemberOf')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "@@odata.context": {
                          "type": "string"
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_Check_Devices_Admin_Unit_MemberOf": [
                      "SUCCEEDED"
                    ]
                  }
                },
                "Condition_Devices": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('Parse_JSON_Devices')?['value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Condition_Devices_2": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "startsWith": [
                              "@item()?['displayName']",
                              "@variables('PrefixRule')[0]['Prefix']"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "HTTP_Post_Device_to_AdminUnit": {
                          "type": "Http",
                          "inputs": {
                            "uri": "https://graph.microsoft.com/beta/administrativeUnits/@{variables('PrefixRule')[0]['adminUnitId']}/members/$ref",
                            "method": "POST",
                            "body": {
                              "@@odata.id": "https://graph.microsoft.com/v1.0/devices@{item()?['id']}"
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "[parameters('authTenant')]",
                              "audience": "https://graph.microsoft.com",
                              "clientId": "[parameters('authClientId')]",
                              "secret": "[parameters('authClientSecret')]"
                            }
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Parse_JSON_Devices_AdminUnit_MemberOf": [
                      "SUCCEEDED"
                    ]
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Devices": [
                  "SUCCEEDED"
                ]
              }
            }
          },
          "outputs": {},
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {}
          }
        }
      }
    }
  ]
}
