kyos.logicapp/entraid.governance/SendPasswordToIT.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_ResetPassword_name": {
            "defaultValue": "ResetPassword",
            "type": "String"
        },
        "connections_azureautomation_1_externalid": {
            "defaultValue": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/resourceGroups/rg-entra-provisioning-poc_gbo_eu/providers/Microsoft.Web/connections/azureautomation-1",
            "type": "String"
        },
        "connections_acsemail_1_externalid": {
            "defaultValue": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/resourceGroups/rg-entra-provisioning-poc_gbo_eu/providers/Microsoft.Web/connections/acsemail-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_ResetPassword_name')]",
            "location": "switzerlandwest",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        },
                                        "samAccountName": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_job": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/subscriptions/@{encodeURIComponent('41271998-9818-49dd-8b6a-2ca5ec3a7c50')}/resourceGroups/@{encodeURIComponent('rg-entra-provisioning-poc_gbo_eu')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('azure-automation-account')}/jobs",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "Generate-password",
                                    "wait": false
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_job_output": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions/@{encodeURIComponent('41271998-9818-49dd-8b6a-2ca5ec3a7c50')}/resourceGroups/@{encodeURIComponent('rg-entra-provisioning-poc_gbo_eu')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent('azure-automation-account')}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Send_email": {
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['acsemail-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "senderAddress": "it@purchasekyos.ch",
                                    "recipients": {
                                        "to": [
                                            {
                                                "address": "it@kyos.ch"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "subject": "Nouvel utilisateur",
                                        "html": "<p class=\"editor-paragraph\">Bonjour,</p><br><p class=\"editor-paragraph\">Merci de préparer la machine pour le nouvel employé.</p><br><p class=\"editor-paragraph\">Username :@{triggerBody()?['samAccountName']}</p><p class=\"editor-paragraph\">Password :@{body('Get_job_output')}</p><br><p class=\"editor-paragraph\">Sincères salutations,</p><p class=\"editor-paragraph\">Azure</p>"
                                    },
                                    "importance": "Normal"
                                },
                                "path": "/emails:sendGAVersion",
                                "queries": {
                                    "api-version": "2023-03-31"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Send_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureautomation": {
                                "id": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/providers/Microsoft.Web/locations/switzerlandwest/managedApis/azureautomation",
                                "connectionId": "[parameters('connections_azureautomation_1_externalid')]",
                                "connectionName": "azureautomation-1"
                            },
                            "acsemail-1": {
                                "id": "/subscriptions/41271998-9818-49dd-8b6a-2ca5ec3a7c50/providers/Microsoft.Web/locations/switzerlandwest/managedApis/acsemail",
                                "connectionId": "[parameters('connections_acsemail_1_externalid')]",
                                "connectionName": "acsemail-1"
                            }
                        }
                    }
                }
            }
        }
    ]
}