kyos.logicapp/entraid.governance/AddUserInOnpremGroup/AddUserInOnpremGroup.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Add_User_To_Group_name": {
            "defaultValue": "Add-User-To-Group",
            "type": "string"
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "string",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "automationAccountName": {
            "defaultValue": "onprem-powershell-execution",
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Automation Account"
            }
        },
        "automationResourceGroupName": {
            "defaultValue": "[resourceGroup().name]",
            "type": "string",
            "metadata": {
                "description": "Resource group containing the Azure Automation Account"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azurefile-connection",
            "location": "[parameters('location')]",
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "displayName": "Azure File Storage Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azurefile')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01", 
            "name": "azureautomation-connection",
            "location": "[parameters('location')]",
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "displayName": "Azure Automation Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Add_User_To_Group_name')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azurefile-connection')]",
                "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]"
            ],
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        },
                                        "department": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_file_content": {
                            "runAfter": {},
                            "metadata": {
                                "JTJmZ3JvdXBzJTJmR3JvdXBzLmpzb24=": "/groups/Groups.json"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('JTJmZ3JvdXBzJTJmR3JvdXBzLmpzb24='))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Get_file_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_file_content')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "baseGroups": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "departmentGroups": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Compose_BaseGroups": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('Parse_JSON')?['baseGroups']"
                        },
                        "Compose_DepartmentGroups": {
                            "runAfter": {
                                "Compose_BaseGroups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('Parse_JSON')?['departmentGroups']?[triggerBody()?['department']]\n"
                        },
                        "Compose_AllGroups": {
                            "runAfter": {
                                "Compose_DepartmentGroups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@union(outputs('Compose_BaseGroups'), outputs('Compose_DepartmentGroups'))\n"
                        },
                        "Create_job": {
                            "runAfter": {
                                "Compose_AllGroups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "properties": {
                                        "parameters": {
                                            "UserPrincipalName": "@triggerBody()?['userPrincipalName']",
                                            "GroupDNs": "@{outputs('Compose_AllGroups')}"
                                        }
                                    }
                                },
                                "path": "/subscriptions/@{encodeURIComponent(subscription().subscriptionId)}/resourceGroups/@{encodeURIComponent(parameters('automationResourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('automationAccountName'))}/jobs",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "AddUserToGroup",
                                    "wait": false
                                }
                            }
                        },
                        "Get_job_output": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions/@{encodeURIComponent(subscription().subscriptionId)}/resourceGroups/@{encodeURIComponent(parameters('automationResourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('automationAccountName'))}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "@body('Get_job_output')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azurefile')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azurefile-connection')]",
                                "connectionName": "azurefile-connection"
                            },
                            "azureautomation": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]",
                                "connectionName": "azureautomation-connection"
                            }
                        }
                    }
                }
            }
        }
    ]
}