kyos.logicapp/entraid.governance/MoveUserInDisabledOU/MoveUserInDisabledOU.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_term_user_move_name": {
            "defaultValue": "term-user-move",
            "type": "string"
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "string",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "automationAccountName": {
            "defaultValue": "onprem-powershell-execution",
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Automation Account"
            }
        },
        "automationResourceGroupName": {
            "defaultValue": "[resourceGroup().name]",
            "type": "string",
            "metadata": {
                "description": "Resource group containing the Azure Automation Account"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azureautomation-connection",
            "location": "[parameters('location')]",
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "displayName": "Azure Automation Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "acsemail-connection",
            "location": "[parameters('location')]",
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "displayName": "Azure Communication Services Email Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'acsemail')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_term_user_move_name')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]",
                "[resourceId('Microsoft.Web/connections', 'acsemail-connection')]"
            ],
            "tags": {
                "WorkloadName": "SharedTools",
                "ApplicationName": "IAM",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_job": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('automationResourceGroupName'), '/providers/Microsoft.Automation/automationAccounts/', parameters('automationAccountName'), '/jobs')]",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "MoveUserInDisabledOU",
                                    "wait": false
                                }
                            }
                        },
                        "Get_status_of_job": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('automationResourceGroupName'), '/providers/Microsoft.Automation/automationAccounts/', parameters('automationAccountName'), '/jobs/@{encodeURIComponent(body(''Create_job'')?[''properties'']?[''jobId''])}')]",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Operation_success": {
                            "actions": {
                                "Success_email": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['acsemail']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "senderAddress": "governanceprocess@kyos.ch",
                                            "recipients": {
                                                "to": [
                                                    {
                                                        "address": "it@customer.ch"
                                                    }
                                                ]
                                            },
                                            "content": {
                                                "subject": "[SUCCESS] Changement d'OU d'un utilisateur",
                                                "html": "<p class=\"editor-paragraph\">Bonjour,</p><br><p class=\"editor-paragraph\">L'utilisateur @{triggerBody()?['userPrincipalName']} a bien été déplacé dans l'OU disabled.</p><br><p class=\"editor-paragraph\">Merci,</p><p class=\"editor-paragraph\">Entra Governance</p>"
                                            },
                                            "importance": "Normal"
                                        },
                                        "path": "/emails:sendGAVersion",
                                        "queries": {
                                            "api-version": "2023-03-31"
                                        }
                                    }
                                },
                                "Response_success": {
                                    "runAfter": {
                                        "Success_email": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "statusCode": 200
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_status_of_job": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Failed_email": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['acsemail']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "senderAddress": "governanceprocess@kyos.ch",
                                                "recipients": {
                                                    "to": [
                                                        {
                                                            "address": "it@customer.ch"
                                                        }
                                                    ]
                                                },
                                                "content": {
                                                    "subject": "[FAILED] Changement d'OU d'un utilisateur",
                                                    "html": "<p class=\"editor-paragraph\">Bonjour,<br><br>L'utilisateur @{triggerBody()?['userPrincipalName']} n'a été déplacé dans l'OU disabled, un problème est survenu lors de l'opération. le code d'erreur est @{body('Get_status_of_job')?['properties']?['status']}</p><p class=\"editor-paragraph\">Merci de procéder au contrôle manuel.<br><br>Merci,<br>Entra Governance</p>"
                                                },
                                                "importance": "Normal"
                                            },
                                            "path": "/emails:sendGAVersion",
                                            "queries": {
                                                "api-version": "2023-03-31"
                                            }
                                        }
                                    },
                                    "Response_Fail": {
                                        "runAfter": {
                                            "Failed_email": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "statusCode": 500
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Get_status_of_job')?['properties']?['status']",
                                            "Success"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureautomation": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]",
                                "connectionName": "azureautomation-connection",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "acsemail": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'acsemail')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'acsemail-connection')]",
                                "connectionName": "acsemail-connection"
                            }
                        }
                    }
                }
            }
        }
    ]
}