kyos.logicapp/entraid.governance/SendPasswordToIT/SendPasswordToIT.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_ResetPassword_name": {
            "defaultValue": "ResetPassword",
            "type": "string"
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "string",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "automationAccountName": {
            "defaultValue": "azure-automation-account",
            "type": "string",
            "metadata": {
                "description": "Name of the Azure Automation Account"
            }
        },
        "automationResourceGroupName": {
            "defaultValue": "[resourceGroup().name]",
            "type": "string",
            "metadata": {
                "description": "Resource group containing the Azure Automation Account"
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azureautomation-connection",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Azure Automation Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "acsemail-connection",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Azure Communication Services Email Connection",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'acsemail')]"
                },
                "parameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_ResetPassword_name')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]",
                "[resourceId('Microsoft.Web/connections', 'acsemail-connection')]"
            ],
            "tags": {
                "WorkloadName": "IAM",
                "ApplicationName": "Tools",
                "DataClassification": "Low",
                "BusinessCriticality": "Low",
                "Owner": "Kyos",
                "Environment": "Prod",
                "CreatedBy": "Terraform",
                "OperationTeam": "Infra"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        },
                                        "samAccountName": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_job": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/subscriptions/@{encodeURIComponent(subscription().subscriptionId)}/resourceGroups/@{encodeURIComponent(parameters('automationResourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('automationAccountName'))}/jobs",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31",
                                    "runbookName": "Generate-password",
                                    "wait": false
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_job_output": {
                            "runAfter": {
                                "Create_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions/@{encodeURIComponent(subscription().subscriptionId)}/resourceGroups/@{encodeURIComponent(parameters('automationResourceGroupName'))}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(parameters('automationAccountName'))}/jobs/@{encodeURIComponent(body('Create_job')?['properties']?['jobId'])}/output",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                        "Send_email": {
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['acsemail']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "senderAddress": "it@purchasekyos.ch",
                                    "recipients": {
                                        "to": [
                                            {
                                                "address": "it@kyos.ch"
                                            }
                                        ]
                                    },
                                    "content": {
                                        "subject": "Nouvel utilisateur",
                                        "html": "<p class=\"editor-paragraph\">Bonjour,</p><br><p class=\"editor-paragraph\">Merci de préparer la machine pour le nouvel employé.</p><br><p class=\"editor-paragraph\">Username :@{triggerBody()?['samAccountName']}</p><p class=\"editor-paragraph\">Password :@{body('Get_job_output')}</p><br><p class=\"editor-paragraph\">Sincères salutations,</p><p class=\"editor-paragraph\">Azure</p>"
                                    },
                                    "importance": "Normal"
                                },
                                "path": "/emails:sendGAVersion",
                                "queries": {
                                    "api-version": "2023-03-31"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Send_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureautomation": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureautomation')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureautomation-connection')]",
                                "connectionName": "azureautomation-connection"
                            },
                            "acsemail": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'acsemail')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'acsemail-connection')]",
                                "connectionName": "acsemail-connection"
                            }
                        }
                    }
                }
            }
        }
    ]
}